.blog-container {
    padding: 80px 60px;
    @media screen and (max-width: 600px) {
        padding: 80px 30px;
    }

    .content-section {
        padding: 20px 0px;
        max-width: 1100px;
        margin: 0 auto;

        h2 {
            font-family: hkBold;
            font-weight: 600;
        }

        .section-heading {
            font-size: 22px;
            font-family: hkRegular !important;
            color: #212529 !important;
            max-width: 600px;
        }

        .row {
            padding: 30px 0px;

            .metadata {
                @media screen and (max-width: 600px) {
                    display: none;
                }

                .profile-image {
                    width: 80px;
                    height: 80px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    border-radius: 50%;
                }
            }
        }
    }
}

.blog-cards {
    margin: 60px 0px;
    .metadata {
        padding: 30px 0px;
        .label {
            color: #7b7b7b;
            font-size: 30px;
            font-weight: 600;
            line-height: 60px;
            font-family: hkBold !important;
        }
    }
    .content {
        .blog-post-item {
            .post-card {
                max-width: 800px;
                .post-title {
                    a {
                        font-size: 30px;
                        font-family: hkBold !important;
                        color: #212529 !important;
                        text-decoration: none;
                        padding: 0;
                    }
                }
                .reading-time {
                    font-family: hkRegular !important;
                }
                .summary {
                    font-size: 18px;
                    font-family: hkRegular !important;
                    color: #212529 !important;
                }
            }
        }
    }
}
