@font-face {
  font-family: hkRegular;
  src: url('../assets/hanken/HKGrotesk-Regular.ttf');
}

@font-face {
  font-family: hkMedium;
  src: url('../assets/hanken/HKGrotesk-Medium.ttf');
}

@font-face {
  font-family: hkSemiBold;
  src: url('../assets/hanken/HKGrotesk-SemiBold.ttf');
}

@font-face {
  font-family: hkBold;
  src: url('../assets/hanken/HKGrotesk-Bold.ttf');
}

.footer {
  background-color: rgb(240, 237, 237);
  margin-bottom: -15px;
  font-family: hkRegular !important;
}
@media screen and (min-width: 700px) {
  .footer {
      display: flex;
      -moz-box-pack: justify;
      justify-content: space-between;
  }
  .footer-nav ul {
      float: right;
  }
  .footer-nav ul li {
      padding: 10px;
      -moz-box-align: center;
      align-items: center;
      float: left;
      list-style: none;
  }
  .footer-nav {
      padding: 40px;
  }
}
.footer-inner {
  padding: 40px;
}
.footer-inner p {
  line-height: 1.2;
  font-size: 0.9rem;
}
.footer-inner a {
  color: #4618b1;
}
.footer-nav ul {
  padding: 0;
}
.footer-nav ul li a {
  display: flex;
  text-decoration: none;
  color: #707070;
  font-size: 0.8rem;
}
.footer-nav {
  padding: 40px;
}
.footer-nav ul li {
  padding: 10px;
  list-style: none;
  display: inline-block;
}
.footer-nav ul li span {
  padding: 0px 5px;
}